/* @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');


body{font-family: 'Roboto', sans-serif; padding: 0; margin: 0;}

.innerBanner{border-bottom: 3px solid #f7dab7;}
.innerBanner h1{color: #fff; font-size: 50px; font-weight: 500; position: absolute; left: 5%;top: 40%;}
.innerBanner:after{ position: absolute; height: 100%; left: 0; right: 0; bottom: 0;  background-image: linear-gradient(to bottom, #00000082, #fbfbfb00, #44444400); content: ""; z-index: 1;}
@media (max-width:768px) {
	.innerBanner{height: 250px; overflow: hidden;}
	.innerBanner img{height: 100%; object-fit: cover;}
	
	} */

	

	.ctaBtn {padding:10px 15px;position:relative;font-size:inherit;font-weight:400;transition:all .3s ease-in;z-index:1;background:transparent;border:0;}
	.ctaBtn:hover {color:#000;}
	.ctaBtn:before, .ctaBtn:after {content:'';width:1px;height:100%;display:block;background:#fff;position:absolute;margin:0;top:0;transition:all .5s ease-in;z-index:-1;}
	.ctaBtn:before {left:0;}
	.ctaBtn:after {right:0;}
	.ctaBtn:hover:before, .ctaBtn:hover:after {width:100%;}
	
	.ctaBtn.blackBtn {color:#000}
	.ctaBtn.blackBtn:hover {color:#fff;}
	.ctaBtn.blackBtn:before, .ctaBtn.blackBtn:after {background:#000;}
	
	
	.innerBanner{border-bottom: 4px solid #f7dab7;}
	.innerBanner h1{color: #fff; font-size: 50px; font-weight: 500; position: absolute; left: 5%;top: 40%;}
	.innerBanner:after{ position: absolute; height: 100%; left: 0; right: 0; bottom: 0;  background-image: linear-gradient(to bottom, #00000082, #fbfbfb00, #44444400); content: ""; z-index: 1;}
	
.breadcrum { background: #f5efed; /*border-top: 3px solid #f7dab7;margin-top:90px;*/}
.breadcrum ul {padding:0;font-size:inherit; margin-bottom: 0;}
.breadcrum ul li {display:inline-block;list-style:none;padding:0;margin:0 15px;position:relative; color: #333;}
.breadcrum ul li:after {content:'\276f';position:absolute;right:-18px;top:5%;display:block;font-size:80%}
.breadcrum ul li:last-child {margin-right:0;pointer-events:none}
.breadcrum ul li:last-child:after {display:none}
.breadcrum ul li a {color: #333; display:block;-webkit-transition:all .5s ease;-moz-transition:all .5s ease;transition:all .5s ease;}
/* .breadcrum ul li a:hover {color:#31C8B3} */

@media (max-width:575.98px) {
.breadcrum {/*margin-top:30px;*/}
}
	
	.productBrand a{padding: 15px; display: block; position: relative;}
	.productBrand a:before{width:0; height: 3px; margin: auto; background: #f7dab7 ; position: absolute; bottom: 0; left: 0; right: 0; content: ""; transition: all .3s ease-in-out; }
	.productBrand a:hover:before{width: 100%;}
	.productBrand a.active:before{width: 100%;}
	.productBrand a:after{ position: absolute; height: 0; left: 0; right: 0; bottom: -10px;  background-image: linear-gradient(to bottom, #ffffff, #ffffff, #ffffff, #fbfbfb, #f7f7f7); content: ""; z-index: -1;}
	.productBrand a:hover:after{ height: 100%; bottom: 0;}
	.productBrand a.active:after{ height: 100%; bottom: 0;}
	.productBrand img{ width: 100%;}
	.categoryTitle{position: relative;}
	.categoryTitle:before{width:100%; height: 2px; background:  #f7dab7; position: absolute; top: 50%; margin-top: -1px; left: 0; content: ""; z-index: -1;}
	.categoryTitle span{padding: 0 20px ; background: #fff; font-style: italic;}
	.listingText p{font-size: 20px;}
	
	.goldenColor{color: #9f8a51;}
	
	
	.productlistWrap {font-size:14px;}
	.productlistWrap h3{ font-weight: 600; font-size:14px; line-height: 20px; margin-bottom:0;}
	.productlistWrap p{margin-bottom: 0;}
	/* .productlistWrap .productPic{ border: 1px solid #ddd;} */
	.productlistWrap .prodBox .prodBottom{ position: static; margin-top: 15px;}
	
	/* .productListing {margin-left:-30px;margin-right:-30px} */
	/* .productListing > div {margin-bottom:60px; } */
	.productListing .prodBox {/*margin-right:15px;margin-left:15px;*/ /*border-bottom:1px solid #d0d0d0;*/height:100%;}
	.prodBox {margin:auto;padding:0px;/*background:#fff;*/position:relative;}
	.prodBox:hover {}
	.prodBox .prodImg {width:100%;margin:0 auto;overflow: hidden;text-align:center;background:#fff;border: 1px solid #f5f5f5; border-bottom: 3px solid #f7dab7;-webkit-transition:all .3s ease;-moz-transition:all .3s ease;-o-transition:all .3s ease;transition:all .3s ease}
	.prodBox:hover .prodImg {box-shadow:0 0 15px #ccc}
	.prodBox .prodImg img {width:100%; display:block; scale(1);-moz-transform:scale(1);-o-transform:scale(1);transform:scale(1);-webkit-transition:all .3s ease;-moz-transition:all .3s ease;-o-transition:all .3s ease;transition:all .3s ease}
	.prodBox:hover .prodImg img {width:100%;margin:auto;-webkit-transform:scale(1.05);-moz-transform:scale(1.05);-o-transform:scale(1.05);transform:scale(1.05);}
	.prodBox .prodTop {position:absolute;top:15px;left:0;right:0;z-index:1}
	.prodBox .prodBottom {font-weight:400;font-size:14px; position: static; bottom: 0; left: 15px; right: 15px;}
	.prodBox .prodRight {position:absolute;top:30%; right:0; right:0; z-index:1; display: none;}
	.prodBox:hover .prodRight{ display: block;}
	.prodBox .prodName {font-size:14px;font-weight:600;margin-bottom:7px}
	.prodBox .prodMetal {font-size:14px;margin-bottom:10px}
	.price{ font-weight: 600;}
	/*.price:before {content:'\20B9';margin-right:3px;font-family:"Trebuchet MS";}*/
	.prodBox a.prodLink {color: #fff;background:#222;padding:5px 10px;font-size:12px}
	.prodBox a.prodLink:hover {background:#d7138c}
	.prodBox a.prodLink:before {width:100%;height:100%;position:absolute;content:'';display:block;top:0;left:0;z-index:0}
	
	.prodBox .prodAction {width:15px;min-height:15px;padding:0;border:0;display:block;margin-bottom:8px; position: absolute; top: 10px; right: 10px;} 
	.prodBox a .prodAction { background: none;}
	
	.prodBox .addtoCart {background:transparent}
	.prodBox .addtoCart img, .prodBox svg{ width: 14px; margin-top: -8px;}
	.prodBox .addtoCart:hover svg {fill:#d7138c}
	
	.prodBox .prodOffer {
		width:auto;
		display:inline-block;
		padding: 0px 20px;
		border-radius: 15px;
		color:#fff;
		font-size: 10px;
		
		letter-spacing: 0;
		/* box-shadow:0 2px 0 rgba(0,0,0,.2); */
		position:absolute;
		top:0;
		background: #31C8B3; transition: all .3s ease-in-out;
		
		}
	
	.prodBox:hover .prodOffer { font-size: 12px; font-weight: 500;}
	
	.addWislist {background:url(../images/heart.svg) center no-repeat transparent;background-size:contain}
	.addWislist.added {background:url(../images/heart_fill.svg) center no-repeat transparent;opacity:1}
	
	.colorPallet a{width: 15px; height: 15px;  overflow: hidden;  border-radius: 50%; display: inline-block; margin-right:4px; border: 1px solid #ddd; position: relative;}
	.colorPallet:hover a{ }
	/* .colorPallet a.active:before{width:18px; height: 18px; background:#f00; border: 2px solid #000; position: absolute; left: -3px; right: -3px; top: -3px; bottom: -3px; content: ""; border: 2px solid green; z-index: 0;} */
	.colorPallet a img{ width: 100%; display: block;}
	.colorPallet a:first-child{ margin-left: 0;}
	
	
	.prod_2, .prod_3, .prod_4 { display: none;}
	.prod_1{ display: block;}
	
	.productPic{overflow:hidden; min-height:255px; /*background:#ebebeba6;*/ background:#fff; margin-bottom:10px;}
	.productPic img + img { display: none;}
	
	.productTitle{/*position: absolute;*/ bottom:0; font-size: 16px; font-weight: 600; text-align:left; padding:0 10px; min-height:70px} 
	.productTitle a{display: block; color: #000; text-decoration: none; padding: 0 15px;}
	
	
	
	.fancybox-enabled{overflow:hidden}.fancybox-enabled body{overflow:visible;height:100%}.fancybox-container{position:fixed;top:0;left:0;width:100%;height:100%;z-index:99993;-webkit-backface-visibility:hidden;backface-visibility:hidden}.fancybox-container~.fancybox-container{z-index:99992}.fancybox-bg{position:absolute;top:0;right:0;bottom:0;left:0;background: #ffffff;opacity:0;transition-timing-function:cubic-bezier(.55,.06,.68,.19);-webkit-backface-visibility:hidden;backface-visibility:hidden}.fancybox-container--ready .fancybox-bg{opacity: .99;transition-timing-function:cubic-bezier(.22,.61,.36,1)}.fancybox-controls{position:absolute;top:0;left:0;right:0;text-align:center;opacity:0;z-index:99994;transition:opacity .2s;pointer-events:none;-webkit-backface-visibility:hidden;backface-visibility:hidden;direction:ltr}.fancybox-show-controls .fancybox-controls{opacity:1}.fancybox-infobar{display:none}.fancybox-show-infobar .fancybox-infobar{display:inline-block;pointer-events:all;background: #e7e7e7;}.fancybox-infobar__body{display:inline-block;width:70px;line-height:44px;font-size:13px;text-align:center;color: #000;background-color:rgba(30,30,30,.7);pointer-events:none;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;-webkit-touch-callout:none;-webkit-tap-highlight-color:transparent;-webkit-font-smoothing:subpixel-antialiased}.fancybox-buttons{position:absolute;top:0;right:0;display:none;pointer-events:all}.fancybox-show-buttons .fancybox-buttons{display:block}.fancybox-slider-wrap{overflow:hidden;direction:ltr}.fancybox-slider,.fancybox-slider-wrap{position:absolute;top:0;left:0;bottom:0;right:0;padding:0;margin:0;z-index:99993;-webkit-backface-visibility:hidden;backface-visibility:hidden;-webkit-tap-highlight-color:transparent}.fancybox-slide{position:absolute;top:0;left:0;width:100%;height:100%;margin:0;padding:0;overflow:auto;outline:none;white-space:normal;box-sizing:border-box;text-align:center;z-index:99994;-webkit-overflow-scrolling:touch;/* background: #fff; */}.fancybox-slide:before{content:"";height:100%;width:0}.fancybox-slide:before,.fancybox-slide>*{display:inline-block;vertical-align:middle}.fancybox-slide>*{position:relative;padding:24px;margin:44px 0;border-width:0;text-align:left;background-color:#fff;overflow:auto;box-sizing:border-box}.fancybox-slide--image{overflow:hidden}.fancybox-slide--image:before{display:none}.fancybox-content{display:inline-block;position:relative;margin:44px auto;padding:0;border:0;width:80%;height:calc(100% - 88px);vertical-align:middle;line-height:normal;text-align:left;white-space:normal;outline:none;font-size:16px;font-family:Arial,sans-serif;box-sizing:border-box;-webkit-tap-highlight-color:transparent;-webkit-overflow-scrolling:touch}.fancybox-iframe{display:block;margin:0;padding:0;border:0;width:100%;height:100%;background:#fff}.fancybox-slide--video .fancybox-content,.fancybox-slide--video .fancybox-iframe{background:transparent}.fancybox-placeholder{z-index:99995;background:transparent;cursor:default;overflow:visible;-webkit-transform-origin:top left;transform-origin:top left;background-size:100% 100%;background-repeat:no-repeat;-webkit-backface-visibility:hidden;backface-visibility:hidden}.fancybox-image,.fancybox-placeholder,.fancybox-spaceball{position:absolute;top:0;left:0;margin:0;padding:0;border:0}.fancybox-image,.fancybox-spaceball{width:100%;height:100%;max-width:none;max-height:none;background:transparent;background-size:100% 100%}.fancybox-controls--canzoomOut .fancybox-placeholder{cursor:zoom-out}.fancybox-controls--canzoomIn .fancybox-placeholder{cursor:zoom-in}.fancybox-controls--canGrab .fancybox-placeholder{cursor:-webkit-grab;cursor:grab}.fancybox-controls--isGrabbing .fancybox-placeholder{cursor:-webkit-grabbing;cursor:grabbing}.fancybox-spaceball{z-index:1}.fancybox-tmp{position:absolute;top:-9999px;left:-9999px;visibility:hidden}.fancybox-error{position:absolute;margin:0;padding:40px;top:50%;left:50%;width:380px;max-width:100%;-webkit-transform:translate(-50%,-50%);transform:translate(-50%,-50%);background:#fff;cursor:default}.fancybox-error p{margin:0;padding:0;color:#444;font:16px/20px Helvetica Neue,Helvetica,Arial,sans-serif}.fancybox-close-small{position:absolute;top:0;right:0;width:44px;height:44px;padding:0;margin:0;border:0;border-radius:0;outline:none;background:transparent;z-index:10;cursor:pointer}.fancybox-close-small:after{content:"Ã—";position:absolute;top:20px;right:20px;/*width:30px;height:30px;font:20px/30px Arial,Helvetica Neue,Helvetica,sans-serif;*/ font-size:50px;color:#888;font-weight:300;text-align:center;/*border-radius:50%;*/border-width:0;/*background:#fff;*/transition: background .2s;box-sizing:border-box;z-index:2}.fancybox-close-small:focus:after{outline:1px dotted #888}.fancybox-slide--video .fancybox-close-small{top:-36px;right:-36px;background:transparent}.fancybox-close-small:hover:after{color:#fff;/*background:#eee*/}.fancybox-caption-wrap{position:absolute;bottom:0;left:0;right:0;padding:60px 30px 0;z-index:99998;-webkit-backface-visibility:hidden;backface-visibility:hidden;box-sizing:border-box;background:linear-gradient(180deg,transparent 0,rgba(0,0,0,.1) 20%,rgba(0,0,0,.2) 40%,rgba(0,0,0,.6) 80%,rgba(0,0,0,.8));opacity:0;transition:opacity .2s;pointer-events:none}.fancybox-show-caption .fancybox-caption-wrap{opacity:1}.fancybox-caption{padding:30px 0;border-top:1px solid #777;font-size:14px;font-weight:700;color:#fff;line-height:20px;-webkit-text-size-adjust:none}.fancybox-caption a,.fancybox-caption button{pointer-events:all}.fancybox-caption a{color:#fff;text-decoration:underline}.fancybox-button{display:inline-block;position:relative;width:44px;height:44px;line-height:44px;margin:0;padding:0;border:0;border-radius:0;cursor:pointer;background:#ed3237;color:#fff;box-sizing:border-box;vertical-align:top;outline:none}.fancybox-button--disabled{cursor:default;pointer-events:none}.fancybox-button,.fancybox-infobar__body{background:none/*#ed3237rgba(30,30,30,.6)*/}.fancybox-button:hover{background:#d9d9d9 /*rgba(0,0,0,.8)*/;/* color: #fff; */}.fancybox-button:after,.fancybox-button:before{content:"";pointer-events:none;position:absolute;border-color: #000;background-color:currentColor;color:currentColor;opacity:.9;box-sizing:border-box;display:inline-block}.fancybox-button--disabled:after,.fancybox-button--disabled:before{opacity:.5}.fancybox-button--left:after{left:20px;-webkit-transform:rotate(-135deg);transform:rotate(-135deg)}.fancybox-button--left:after,.fancybox-button--right:after{top:18px;width:6px;height:6px;background:transparent;border-top: 2px solid #000;border-right: 2px solid #000;}.fancybox-button--right:after{right:20px;-webkit-transform:rotate(45deg);transform:rotate(45deg)}.fancybox-button--left{border-bottom-left-radius:5px}.fancybox-button--right{border-bottom-right-radius:5px}.fancybox-button--close{float:right}.fancybox-button--close:after,.fancybox-button--close:before{content:"";display:inline-block;position:absolute;height:2px;width:16px;top:calc(50% - 1px);left:calc(50% - 8px);color: #000;}.fancybox-button--close:before{-webkit-transform:rotate(45deg);transform:rotate(45deg)}.fancybox-button--close:after{-webkit-transform:rotate(-45deg);transform:rotate(-45deg)}.fancybox-loading{border:6px solid hsla(0,0%,39%,.4);border-top:6px solid hsla(0,0%,100%,.6);border-radius:100%;height:50px;width:50px;-webkit-animation:a .8s infinite linear;animation:a .8s infinite linear;background:transparent;position:absolute;top:50%;left:50%;margin-top:-25px;margin-left:-25px;z-index:99999}@-webkit-keyframes a{0%{-webkit-transform:rotate(0deg);transform:rotate(0deg)}to{-webkit-transform:rotate(359deg);transform:rotate(359deg)}}@keyframes a{0%{-webkit-transform:rotate(0deg);transform:rotate(0deg)}to{-webkit-transform:rotate(359deg);transform:rotate(359deg)}}@media (max-width:800px){.fancybox-controls{text-align:left}.fancybox-button--left,.fancybox-button--right,.fancybox-buttons button:not(.fancybox-button--close){display:none!important}.fancybox-caption{padding:20px 0;margin:0}}.fancybox-button--fullscreen:before{width:15px;height:11px;left:15px;top:16px;border:2px solid;background:none}.fancybox-button--play:before{top:16px;left:18px;width:0;height:0;border-top:6px inset transparent;border-bottom:6px inset transparent;border-left:10px solid;border-radius:1px;background:transparent}.fancybox-button--pause:before{top:16px;left:18px;width:7px;height:11px;border-style:solid;border-width:0 2px;background:transparent}.fancybox-button--thumbs span{font-size:23px}.fancybox-button--thumbs:before{top:20px;left:21px;width:3px;height:3px;box-shadow:0 -4px 0,-4px -4px 0,4px -4px 0,inset 0 0 0 32px,-4px 0 0,4px 0 0,0 4px 0,-4px 4px 0,4px 4px 0}.fancybox-container--thumbs .fancybox-caption-wrap,.fancybox-container--thumbs .fancybox-controls,.fancybox-container--thumbs .fancybox-slider-wrap{right:220px}.fancybox-thumbs{position:absolute;top:0;right:0;bottom:0;left:auto;width:220px;margin:0;padding:5px 5px 0 0;background:#fff;z-index:99993;word-break:normal;-webkit-overflow-scrolling:touch;-webkit-tap-highlight-color:transparent;box-sizing:border-box}.fancybox-thumbs>ul{list-style:none;position:absolute;position:relative;width:100%;height:100%;margin:0;padding:0;overflow-x:hidden;overflow-y:auto;font-size:0}.fancybox-thumbs>ul>li{float:left;overflow:hidden;max-width:50%;padding:0;margin:0;width:105px;height:75px;position:relative;cursor:pointer;outline:none;border:5px solid #fff;border-top-width:0;border-right-width:0;-webkit-tap-highlight-color:transparent;-webkit-backface-visibility:hidden;backface-visibility:hidden;box-sizing:border-box}li.fancybox-thumbs-loading{background:rgba(0,0,0,.1)}.fancybox-thumbs>ul>li>img{position:absolute;top:0;left:0;min-width:100%;min-height:100%;max-width:none;max-height:none;-webkit-touch-callout:none;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}.fancybox-thumbs>ul>li:before{content:"";position:absolute;top:0;right:0;bottom:0;left:0;border-radius:2px;border:4px solid #4ea7f9;z-index:99991;opacity:0;transition:all .2s cubic-bezier(.25,.46,.45,.94)}.fancybox-thumbs>ul>li.fancybox-thumbs-active:before{opacity:1}@media (max-width:800px){.fancybox-thumbs{display:none!important}.fancybox-container--thumbs .fancybox-caption-wrap,.fancybox-container--thumbs .fancybox-controls,.fancybox-container--thumbs .fancybox-slider-wrap{right:0}}
	
	.fancybox-slide>*{ background:none; margin:0 auto; }
	.fancybox-close-small{ width:auto; height: auto; padding:0;  !important; outline:none; }
	.fancybox-close-small:after{ color:#333;}
	.fancybox-close-small:hover:after{ color:#ddd;}
	
	@media (max-width:768px) {
	.innerBanner{height: 250px; overflow: hidden;}
	.innerBanner img{height: 100%!important; object-fit: cover;}
	
	}
	
	@media (max-width:575px) {
	.productPic{ min-height:255px;height:auto;}
	}
	
	/*.prodSliderContainer{ height: 505px; background: url(../images/product_bg.jpg) no-repeat; background-size: cover;}*/
	
	.productBubble{position: absolute; bottom: 0; left: -70px; bottom: -50px;}
	.productBubble1{position: absolute; bottom: 0; right: -70px; bottom:-40px; z-index: 9999;}
	
	.prodThumbSlider {width:20%; padding: 15px; float:left}
	.prodThumbSlider .slick-slide {width: 70px !important; border:1px solid #b5b3b2 !important; margin-bottom: 10px; }
	.prodThumbSlider .slick-slide > div > div{ display: block !important;}
	.prodThumbSlider .slick-slide img {width:100%; display: block;}
	/* .prodThumbSlider .slick-current img {border:1px solid #bbb} */
	
	
	.prodImageSlider {width:80%;float:right;overflow:hidden;position:relative; }
	.prodImageSlider a {display:block; position: relative;}
	.picZoom{ position:absolute; width: 25px; height: 25px; right: 20px; top: 20px;}
	.prodImageSlider .slick-slide > div > div{ display: block !important;}
	.prodImageSlider img {width:100%;/*background:#f6f6f6;*/cursor:default,zoom-in;}
	
	.prodImageSlider .slick-arrow {width:20px;height:20px;position:absolute;bottom:50px;padding:0;border:0;background:transparent;text-indent:-99999px;overflow:hidden;z-index:10;-webkit-transition:all .4s ease;-moz-transition:all .4s ease;transition:all .4s ease;}
	.prodImageSlider .slick-prev {right:55px}
	.prodImageSlider .slick-next {right:20px}
	.prodImageSlider:hover .slick-prev {right:55px}
	.prodImageSlider:hover .slick-next {right:20px}
	.prodImageSlider .slick-arrow:before {position:absolute;width:100%;display:block;margin:auto;color:#333;text-indent:0;text-align:center;font-size: 25px;}
	.prodImageSlider .slick-prev:before {width: 20px;height: 20px;position: absolute;left:10px;color: transparent;z-index: 1;content:"";border-top: 2px solid #000;border-left: 2px solid #000;transform: rotate(
	  -45deg);}
	.prodImageSlider .slick-next:before {width:20px;height:20px;position: absolute;right:10px;color: transparent;z-index: 1;content:"";border-top: 2px solid #000;border-left: 2px solid #000;transform: rotate(130deg);}
	
	.prodImageSlider .slick-dots {width:100%;text-align:center;margin:0;padding:0;position:absolute;bottom:0px}
	.prodImageSlider .slick-dots li {width:7px;height:7px;list-style:none;margin:0 5px;display:inline-block;}
	.prodImageSlider .slick-dots li button {width:7px;height:7px;border:0;display:block;padding:0;border-radius:50%;text-indent:-9999px;overflow:hidden;background:#bbb}
	.prodImageSlider .slick-dots li.slick-active button {background:#666}
	
	.video {position:relative}
	.video:after {content:'\25b8';width:30px;height:30px;line-height:28px;background:#d53232;display:block;text-align:center;border-radius:50%;position:absolute;top:0;left:0;bottom:0;right:0;margin:auto;color:#fff;font-size:24px}
	
	.prodThumbSlider .video:after {width:50px;height:50px;line-height:48px;font-size:30px; background: #f00;}
	
	.prodThumbSlider .slick-arrow {width: 30px; height: 30px; left: 50%; margin-left: -15px; position: absolute;color: transparent;z-index: 1;background: none;}
	.prodThumbSlider .slick-arrow.slick-prev { bottom:-60px; }
	.prodThumbSlider .slick-arrow.slick-prev:before{width: 20px;height: 20px;position: absolute;color: transparent;z-index: 1;content:"";border-top: 1px solid #B1B1B1;border-left: 1px solid #B1B1B1;transform: rotate(
	45deg);}
	.prodThumbSlider .slick-arrow.slick-next {bottom: -100px;  }
	.prodThumbSlider .slick-arrow.slick-next:before{width:20px;height:20px;position: absolute;top: 0;color: transparent;z-index: 1;content:"";border-top: 1px solid #B1B1B1;border-left: 1px solid #B1B1B1;transform: rotate(220deg);}
	.prodThumbSlider .slick-arrow.slick-next:hover:before, .prodThumbSlider .slick-arrow.slick-prev:hover:before{border-top: 1px solid #000; border-left: 1px solid #000;}
	
	
	
	@media (max-width:991.98px) {
	.prodThumbSlider {display:none !important; }
	.prodImageSlider {width:100%;}	
	}
	
	@media (max-width:767.98px) {
	.prodSliderContainer{ height:auto;}
	.prodImageSlider {background:#f6f6f6}
	.prodImageSlider img {width:100%;margin:auto}
	.productBubble{z-index: -1;}
	.specWrap{overflow: hidden;}
	}
	
	
	/* .ccpItem {margin-bottom:25px} */
	.ccpTitle {height:40px;padding-top:10px;font-size:13px}
	.ccpList {padding:0;margin:0;}
	.ccpList li {width:50px; height:50px; list-style:none;padding:0;margin:0 25px 5px 0;display:inline-block;float:left; position: relative;}
	.ccpList.small li button {width:40px}
	.ccpList li button {width:50px;height:50px; border:5px solid #fff;font-size:11px;background:#fff;overflow: hidden;padding: 0; margin: 5px; position: relative;}
	/* .ccpList li button:before{position: absolute; left: 0; right: 0; top: 0; bottom: 0; border: 1px solid #f00; content: "";} */
	.ccpList li button.active {box-shadow: 0 0 1px 1px #969696;}
	.ccpList.shapeList img {width:30px;margin:5px auto;display:block;}
	
	.prodPrice{position: relative; padding-left: 35px; font-size: 25px; color: #5a5858;}
	.prodPrice:before{position: absolute; left: 15px; top: 0; content: "\20b9";}
	
	.dimenstion{border-top: 1px solid #cecece; border-bottom: 1px solid #cecece;}
	
	.borderBottom{border-bottom:1px solid #cecece;}
	
	.selectState{padding: 5px;}
	.selectState:focus{outline: 0; border-radius: 0;}
	
	.prodSharing {font-size:16px;}
	.prodSharing a i{color:#000;margin:0 2px;display:inline-block;font-size:20px;opacity:1;padding:3px;vertical-align:middle;border-radius:2px}
	.prodSharing a:hover {opacity:.7}
	
	
	/************************** Inner Tabs Start **************************/
	.visionWrap{ background:#f6f6f6; margin-top:-110px;}
	
	ul.resp-tabs-list { display:flex; border-top:1px solid #d7d7d7; border-bottom:1px solid #d7d7d7;}
	
	.resp-tabs-list li {
		font-weight: 600;
		font-size: 16px;
		text-align:left;
		cursor: default;
	  background: none !important;
	  color: #797979;
	
		
	}
	
	.resp-tabs-list li span{padding:15px 0; position:relative; display:inline-block; height: 100%;}
	.resp-tabs-list li span:before{ width:0; height:2px; background:#995944; position:absolute; left:0; right:0; bottom:0; content:""; margin:0 auto; transition:all .3s ease-in-out;}
	.resp-tabs-list li:hover span:before{ width:100%;}
	
	.resp-tabs-container {
		padding: 0px;
	   
		clear: left;
	}
	
	h2.resp-accordion {
		cursor: pointer;
		padding: 5px;
		display: none;
	}
	
	.resp-tab-content {
		display: none;
		padding: 15px;
	}
	
	.resp-tab-active {
		/*border: 1px solid #c1c1c1 !important;
		border-bottom: none;
		margin-bottom: -1px !important;
		padding: 12px 14px 14px 14px !important;
		border-top: 1px solid #c1c1c1 !important;
		border-bottom: 0px #fff solid !important;*/
		color:#000 !important;
	}
	
	.resp-tab-active span:before{ width:100% !important;}
	
	.resp-tab-active {
		border-bottom: none; background:none !important;
	  
	}
	
	.resp-content-active, .resp-accordion-active {
		display: block;
	}
	
	.resp-tab-content {
		/*border: 1px solid #c1c1c1;*/
		
	}
	
	h2.resp-accordion {
		font-size: 13px;
		border: 1px solid #c1c1c1;
		border-top: 0px solid #c1c1c1;
		margin: 0px;
		padding: 5px 15px;
	}
	
	h2.resp-tab-active {
		border-bottom: 0px solid #c1c1c1 !important;
		margin-bottom: 0px !important;
		padding: 10px 15px !important;
	}
	
	h2.resp-tab-title:last-child {
		border-bottom: 12px solid #c1c1c1 !important;
		background: blue;
	}
	
	/*-----------Vertical tabs-----------*/
	.resp-vtabs ul.resp-tabs-list {
		float: left;
		width: 30%;
	}
	
	.resp-vtabs .resp-tabs-list li {
		display: block;
		padding: 15px 15px !important;
		margin: 0 0 4px;
		cursor: pointer;
		float: none;
	}
	
	.resp-vtabs .resp-tabs-container {
		padding: 0px;
		/*background-color: #fff;*/
		border: 1px solid #c1c1c1;
		float: left;
		width: 68%;
		min-height: 250px;
		clear: none;
	  margin: 3px 0 0;
	}
	
	.resp-vtabs .resp-tab-content {
		border: none;
		word-wrap: break-word;
	}
	
	.resp-vtabs li.resp-tab-active { 
	position: relative;
	z-index: 1;
	margin-right: -1px !important;
	padding: 14px 15px 15px 14px !important;
	border-top: 1px solid;
	border: 1px solid #5AB1D0 !important;
	border-left: 1px solid !important;
	margin-bottom: 4px !important;
	border-right: 1px #FFF solid !important;
	}
	
	.resp-arrow {
		width: 0;
		height: 0;
		float: right;
	   
		border-left: 6px solid transparent;
		border-right: 6px solid transparent;
		border-top: 12px solid #333;
	}
	
	h2.resp-tab-active span.resp-arrow {
		border: none;
		border-left: 6px solid transparent;
		border-right: 6px solid transparent;
		border-bottom: 12px solid #9B9797;
	}
	
	/*-----------Accordion styles-----------*/
	h2.resp-tab-active {
		background: #DBDBDB;/* !important;*/
	}
	
	.resp-easy-accordion h2.resp-accordion {
		display: block;
		
	}
	
	.resp-easy-accordion .resp-tab-content {
		border: 1px solid #c1c1c1;
	}
	
	.resp-easy-accordion .resp-tab-content:last-child {
		border-bottom: 1px solid #c1c1c1;/* !important;*/
	}
	
	.resp-jfit {
		width: 100%;
		margin: 0px;
	}
	
	.resp-tab-content-active {
		display: block; 	
	}
	
	h2.resp-accordion:first-child {
		border-top: 1px solid #c1c1c1;/* !important;*/
	}
	
	/*Here your can change the breakpoint to set the accordion, when screen resolution changed*/
	@media only screen and (max-width: 768px) {
		ul.resp-tabs-list {
			display: none;
		}
	
		h2.resp-accordion {
			display: block;font-family: 'Poppins', sans-serif; padding:15px;
		}
	
		.resp-vtabs .resp-tab-content {
			border: 1px solid #C1C1C1;
		}
	
		.resp-vtabs .resp-tabs-container {
			border: none;
			float: none;
			width: 100%;
			min-height: 100px;
			clear: none;
		}
		
		.resp-tab-content-active { border:1px solid #c1c1c1;}
	
		.resp-accordion-closed {
			display: none !important;
		}
	
		.resp-vtabs .resp-tab-content:last-child {
			border-bottom: 1px solid #c1c1c1 !important;
		}
	}
	.metalProductTab .resp-tabs-list li{ font-weight: 500 !important; padding: 0!important;}
	.metalProductTab .resp-tabs-list li span{padding:10px 0 !important;}
	
	/************************** Inner Tabs End **************************/
	
	.spcifications img{width: 30px;}
	
	.relatedWrap{position: relative;}
	.spashLeft{width: 20%; position: absolute; left: 0; top: 0;}
	.spashLeft img{width: 100%;}
	
	.spashRight{width: 20%; position: absolute; Right: 0; top: -30%;}
	.spashRight img{width: 100%;}


.fancybox-enabled{overflow:hidden}.fancybox-enabled body{overflow:visible;height:100%}.fancybox-container{position:fixed;top:0;left:0;width:100%;height:100%;z-index:99993;-webkit-backface-visibility:hidden;backface-visibility:hidden}.fancybox-container~.fancybox-container{z-index:99992}.fancybox-bg{position:absolute;top:0;right:0;bottom:0;left:0;background: #ffffff;opacity:0;transition-timing-function:cubic-bezier(.55,.06,.68,.19);-webkit-backface-visibility:hidden;backface-visibility:hidden}.fancybox-container--ready .fancybox-bg{opacity: .99;transition-timing-function:cubic-bezier(.22,.61,.36,1)}.fancybox-controls{position:absolute;top:0;left:0;right:0;text-align:center;opacity:0;z-index:99994;transition:opacity .2s;pointer-events:none;-webkit-backface-visibility:hidden;backface-visibility:hidden;direction:ltr}.fancybox-show-controls .fancybox-controls{opacity:1}.fancybox-infobar{display:none}.fancybox-show-infobar .fancybox-infobar{display:inline-block;pointer-events:all;background: #e7e7e7;}.fancybox-infobar__body{display:inline-block;width:70px;line-height:44px;font-size:13px;text-align:center;color: #000;background-color:rgba(30,30,30,.7);pointer-events:none;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;-webkit-touch-callout:none;-webkit-tap-highlight-color:transparent;-webkit-font-smoothing:subpixel-antialiased}.fancybox-buttons{position:absolute;top:0;right:0;display:none;pointer-events:all}.fancybox-show-buttons .fancybox-buttons{display:block}.fancybox-slider-wrap{overflow:hidden;direction:ltr}.fancybox-slider,.fancybox-slider-wrap{position:absolute;top:0;left:0;bottom:0;right:0;padding:0;margin:0;z-index:99993;-webkit-backface-visibility:hidden;backface-visibility:hidden;-webkit-tap-highlight-color:transparent}.fancybox-slide{position:absolute;top:0;left:0;width:100%;height:100%;margin:0;padding:0;overflow:auto;outline:none;white-space:normal;box-sizing:border-box;text-align:center;z-index:99994;-webkit-overflow-scrolling:touch;/* background: #fff; */}.fancybox-slide:before{content:"";height:100%;width:0}.fancybox-slide:before,.fancybox-slide>*{display:inline-block;vertical-align:middle}.fancybox-slide>*{position:relative;padding:24px;margin:44px 0;border-width:0;text-align:left;background-color:#fff;overflow:auto;box-sizing:border-box}.fancybox-slide--image{overflow:hidden}.fancybox-slide--image:before{display:none}.fancybox-content{display:inline-block;height: 90% !important;
    width: 90% !important;position:relative;margin:44px auto;padding:0;border:0;width:80%;height:calc(100% - 88px);vertical-align:middle;line-height:normal;text-align:left;white-space:normal;outline:none;font-size:16px;font-family:Arial,sans-serif;box-sizing:border-box;-webkit-tap-highlight-color:transparent;-webkit-overflow-scrolling:touch}.fancybox-iframe{display:block;margin:0;padding:0;border:0;width:100%;height:100%;background:#fff}.fancybox-slide--video .fancybox-content,.fancybox-slide--video .fancybox-iframe{background:transparent}.fancybox-placeholder{z-index:99995;background:transparent;cursor:default;overflow:visible;-webkit-transform-origin:top left;transform-origin:top left;background-size:100% 100%;background-repeat:no-repeat;-webkit-backface-visibility:hidden;backface-visibility:hidden}.fancybox-image,.fancybox-placeholder,.fancybox-spaceball{position:absolute;top:0;left:0;margin:0;padding:0;border:0}.fancybox-image,.fancybox-spaceball{width:100%;height:100%;max-width:none;max-height:none;background:transparent;background-size:100% 100%}.fancybox-controls--canzoomOut .fancybox-placeholder{cursor:zoom-out}.fancybox-controls--canzoomIn .fancybox-placeholder{cursor:zoom-in}.fancybox-controls--canGrab .fancybox-placeholder{cursor:-webkit-grab;cursor:grab}.fancybox-controls--isGrabbing .fancybox-placeholder{cursor:-webkit-grabbing;cursor:grabbing}.fancybox-spaceball{z-index:1}.fancybox-tmp{position:absolute;top:-9999px;left:-9999px;visibility:hidden}.fancybox-error{position:absolute;margin:0;padding:40px;top:50%;left:50%;width:380px;max-width:100%;-webkit-transform:translate(-50%,-50%);transform:translate(-50%,-50%);background:#fff;cursor:default}.fancybox-error p{margin:0;padding:0;color:#444;font:16px/20px Helvetica Neue,Helvetica,Arial,sans-serif}.fancybox-close-small{position:absolute;top:0;right:0;width:44px;height:44px;padding:0;margin:0;border:0;border-radius:0;outline:none;background:transparent;z-index:10;cursor:pointer}.fancybox-close-small:after{content:"x";position:absolute;top:20px;right:20px;/*width:30px;height:30px;font:20px/30px Arial,Helvetica Neue,Helvetica,sans-serif;*/ font-size:50px;color:#888;font-weight:300;text-align:center;/*border-radius:50%;*/border-width:0;/*background:#fff;*/transition: background .2s;box-sizing:border-box;z-index:2}.fancybox-close-small:focus:after{outline:1px dotted #888}.fancybox-slide--video .fancybox-close-small{top:-36px;right:-36px;background:transparent}.fancybox-close-small:hover:after{color:#fff;/*background:#eee*/}.fancybox-caption-wrap{position:absolute;bottom:0;left:0;right:0;padding:60px 30px 0;z-index:99998;-webkit-backface-visibility:hidden;backface-visibility:hidden;box-sizing:border-box;background:linear-gradient(180deg,transparent 0,rgba(0,0,0,.1) 20%,rgba(0,0,0,.2) 40%,rgba(0,0,0,.6) 80%,rgba(0,0,0,.8));opacity:0;transition:opacity .2s;pointer-events:none}.fancybox-show-caption .fancybox-caption-wrap{opacity:1}.fancybox-caption{padding:30px 0;border-top:1px solid #777;font-size:14px;font-weight:700;color:#fff;line-height:20px;-webkit-text-size-adjust:none}.fancybox-caption a,.fancybox-caption button{pointer-events:all}.fancybox-caption a{color:#fff;text-decoration:underline}.fancybox-button{display:inline-block;position:relative;width:44px;height:44px;line-height:44px;margin:0;padding:0;border:0;border-radius:0;cursor:pointer;background:#ed3237;color:#fff;box-sizing:border-box;vertical-align:top;outline:none}.fancybox-button--disabled{cursor:default;pointer-events:none}.fancybox-button,.fancybox-infobar__body{background:none/*#ed3237rgba(30,30,30,.6)*/}.fancybox-button:hover{background:#d9d9d9 /*rgba(0,0,0,.8)*/;/* color: #fff; */}.fancybox-button:after,.fancybox-button:before{content:"";pointer-events:none;position:absolute;border-color: #000;background-color:currentColor;color:currentColor;opacity:.9;box-sizing:border-box;display:inline-block}.fancybox-button--disabled:after,.fancybox-button--disabled:before{opacity:.5}.fancybox-button--left:after{left:20px;-webkit-transform:rotate(-135deg);transform:rotate(-135deg)}.fancybox-button--left:after,.fancybox-button--right:after{top:18px;width:6px;height:6px;background:transparent;border-top: 2px solid #000;border-right: 2px solid #000;}.fancybox-button--right:after{right:20px;-webkit-transform:rotate(45deg);transform:rotate(45deg)}.fancybox-button--left{border-bottom-left-radius:5px}.fancybox-button--right{border-bottom-right-radius:5px}.fancybox-button--close{float:right}.fancybox-button--close:after,.fancybox-button--close:before{content:"";display:inline-block;position:absolute;height:2px;width:16px;top:calc(50% - 1px);left:calc(50% - 8px);color: #000;}.fancybox-button--close:before{-webkit-transform:rotate(45deg);transform:rotate(45deg)}.fancybox-button--close:after{-webkit-transform:rotate(-45deg);transform:rotate(-45deg)}.fancybox-loading{border:6px solid hsla(0,0%,39%,.4);border-top:6px solid hsla(0,0%,100%,.6);border-radius:100%;height:50px;width:50px;-webkit-animation:a .8s infinite linear;animation:a .8s infinite linear;background:transparent;position:absolute;top:50%;left:50%;margin-top:-25px;margin-left:-25px;z-index:99999}@-webkit-keyframes a{0%{-webkit-transform:rotate(0deg);transform:rotate(0deg)}to{-webkit-transform:rotate(359deg);transform:rotate(359deg)}}@keyframes a{0%{-webkit-transform:rotate(0deg);transform:rotate(0deg)}to{-webkit-transform:rotate(359deg);transform:rotate(359deg)}}@media (max-width:800px){.fancybox-controls{text-align:left}.fancybox-button--left,.fancybox-button--right,.fancybox-buttons button:not(.fancybox-button--close){display:none!important}.fancybox-caption{padding:20px 0;margin:0}}.fancybox-button--fullscreen:before{width:15px;height:11px;left:15px;top:16px;border:2px solid;background:none}.fancybox-button--play:before{top:16px;left:18px;width:0;height:0;border-top:6px inset transparent;border-bottom:6px inset transparent;border-left:10px solid;border-radius:1px;background:transparent}.fancybox-button--pause:before{top:16px;left:18px;width:7px;height:11px;border-style:solid;border-width:0 2px;background:transparent}.fancybox-button--thumbs span{font-size:23px}.fancybox-button--thumbs:before{top:20px;left:21px;width:3px;height:3px;box-shadow:0 -4px 0,-4px -4px 0,4px -4px 0,inset 0 0 0 32px,-4px 0 0,4px 0 0,0 4px 0,-4px 4px 0,4px 4px 0}.fancybox-container--thumbs .fancybox-caption-wrap,.fancybox-container--thumbs .fancybox-controls,.fancybox-container--thumbs .fancybox-slider-wrap{right:220px}.fancybox-thumbs{position:absolute;top:0;right:0;bottom:0;left:auto;width:220px;margin:0;padding:5px 5px 0 0;background:#fff;z-index:99993;word-break:normal;-webkit-overflow-scrolling:touch;-webkit-tap-highlight-color:transparent;box-sizing:border-box}.fancybox-thumbs>ul{list-style:none;position:absolute;position:relative;width:100%;height:100%;margin:0;padding:0;overflow-x:hidden;overflow-y:auto;font-size:0}.fancybox-thumbs>ul>li{float:left;overflow:hidden;max-width:50%;padding:0;margin:0;width:105px;height:75px;position:relative;cursor:pointer;outline:none;border:5px solid #fff;border-top-width:0;border-right-width:0;-webkit-tap-highlight-color:transparent;-webkit-backface-visibility:hidden;backface-visibility:hidden;box-sizing:border-box}li.fancybox-thumbs-loading{background:rgba(0,0,0,.1)}.fancybox-thumbs>ul>li>img{position:absolute;top:0;left:0;min-width:100%;min-height:100%;max-width:none;max-height:none;-webkit-touch-callout:none;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}.fancybox-thumbs>ul>li:before{content:"";position:absolute;top:0;right:0;bottom:0;left:0;border-radius:2px;border:4px solid #4ea7f9;z-index:99991;opacity:0;transition:all .2s cubic-bezier(.25,.46,.45,.94)}.fancybox-thumbs>ul>li.fancybox-thumbs-active:before{opacity:1}@media (max-width:800px){.fancybox-thumbs{display:none!important}.fancybox-container--thumbs .fancybox-caption-wrap,.fancybox-container--thumbs .fancybox-controls,.fancybox-container--thumbs .fancybox-slider-wrap{right:0}}

.fancybox-slide>*{ background:none; margin:0 auto; }
.fancybox-close-small{ width:auto; height: auto; padding:0;outline:none; }
.fancybox-close-small:after{ color:#333;}
.fancybox-close-small:hover:after{ color:#ddd;}


.under-construction{
	display: flex;
	justify-content: center;
}


.impcolor {	
	color: #012725;
  }

  .precolor {	
	color: #2a0718;
  }

  .glocolor {	
	color: #0090c6;
  }



/* .newArrivalSection {background:#161616;} */
.careerSwiper .swiper-slide {height:auto;}
.workImg {width:100%;height:100%;display:block;position:absolute;left:0;top:0;object-fit:cover;transition:all 1s .5s ease;transform:scale(1.2);}
.swiper-slide-active .workImg {transform:scale(1);}
.workDetails {background-size:100% 100%;background-position:center;padding:50px 30px;position:relative;}
.newArrvIcon {width:auto;height:60%;display:block;position:absolute;top:0;bottom:0;margin:auto;opacity:.15;z-index:0;}
.workBox {max-width:450px;float:right;}
.newArrvHead {font-size:20px;}
.workPlaceName {font-size:30px; padding-left: 10px; border-left: 2px solid #f7dab7;}
.newArrvBullets.swiper-pagination {right:0;bottom:30px;}

.careerSwiper .swiper-button-next, .careerSwiper .swiper-button-prev{top: auto; bottom: 20px;}
.careerSwiper .swiper-button-prev{left: auto; right: 60px;}
.careerSwiper .swiper-button-next{left: auto; right: 30px;}
.careerSwiper .swiper-button-next:after, .careerSwiper .swiper-button-prev:after{font-size: 25px; color: #b7b7b7; font-weight: 700;}
.careerSwiper .swiper-button-next:hover:after, .careerSwiper .swiper-button-prev:hover:after{color: #000;}

@media (max-width:1399.98px) {
.workBox {max-width:380px}
}
@media (max-width:1199.98px) {
.workDetails {padding:60px 50px 60px 0;}
.workBox {max-width:330px}
}
@media (max-width:991.98px) {
.workImg {position:relative;}
.workBox {max-width:300px;}
.newArrvHead {font-size:16px;}
.newArrvProductName {font-size:24px;}
}
@media (max-width:767.98px) {
.workImg {max-height:500px;}
.workDetails {padding:40px 0;}
.workBox {max-width:540px;margin:auto;float:none;padding:0 14px;}
}

.weLook{height: 300px; overflow: hidden;}
.weLook img{height: 100%; object-fit: cover;}
.weLookText{width:50%; position: absolute; top: 15%; left: 50px; color: #fff; font-size: 30px; font-weight: 600; text-transform: capitalize;}
.weLookText img{max-width: 80px; height: auto;}

@media (max-width:991.98px) {
	.weLookText{width: 80%; top: 10%; left: 20px;}	
	}

@media (max-width:767.98px) {
.weLookText{width: 100%; top: 10%; left: 20px;}	
}

@media (max-width:650px) {
.weLookText{width: 100%; top: 10%; left: 20px; font-size: 26px; }
.weLookText img{max-width: 80px; }	
}
.cpBox{background: #fcfcfc; color: #949494; font-size: 15px; border-radius: 10px;}
.jobTitle{font-size: 22px; font-weight: 700; color: #000; text-transform: capitalize; position: relative; padding-left: 35px;}
.jobTitle:before {content:'';width:20px;height:20px;display:block;background:url(../images/icArrow.png) no-repeat center;background-size:contain;position:absolute;top:8px;left:5px;}
.jobType li{font-size: 12px; display: inline-block; margin-left: 20px; position: relative; padding-left: 15px;}
.jobType li:first-child{margin-left: 0;}
.jobType li:before{width:6px; height: 6px; border-radius: 50%; background: #f7dab7; position: absolute; left: 0; top: 6px; content: ""; }
.cpBox p{margin-bottom: 0;color: #000;}

.skills{padding-left: 18px;}
.skills li{list-style: decimal;}

.applyJob .fancybox-close-small:after{top: 0; right: 40px;}

.careerWrap .ContDropsTop{top: -125px; bottom: auto;}

.mapDiv iframe{width: 100%; height: 500px;}

/*figure.woocommerce-product-gallery__wrapper {
    height: auto;
    background: url(https://kwebmakerdigitalagency.com/astral/wp-content/themes/astral/images/product_bg.jpg) no-repeat;
    background-size: cover;
}*/
.prodSliderContainer{ /*height: 505px; background: url(../images/product_bg.jpg) no-repeat; background-size: cover;*/}

.productBubble{position: absolute; bottom: 0; left: -70px; bottom: -50px;}
.productBubble1{position: absolute; bottom: 0; right: -70px; bottom:-40px; z-index: 0;}

.prodThumbSlider {width:20%; padding: 15px; float:left}
.prodThumbSlider .slick-slide {width: 70px !important; border:1px solid #b5b3b2 !important; margin-bottom: 10px; }
.prodThumbSlider .slick-slide > div > div{ display: block !important;}
.prodThumbSlider .slick-slide img {width:100%; display: block;}
/* .prodThumbSlider .slick-current img {border:1px solid #bbb} */


.prodImageSlider {width:80%;float:right;overflow:hidden;position:relative; }
.prodImageSlider a {display:block; position: relative;}
.picZoom{ position:absolute; width: 25px; height: 25px; right: 20px; top: 20px;}
.prodImageSlider .slick-slide > div > div{ display: block !important;}
.prodImageSlider img {width:100%;/*background:#f6f6f6;*/cursor:default,zoom-in;}

.prodImageSlider .slick-arrow {width:20px;height:20px;position:absolute;bottom:50px;padding:0;border:0;background:transparent;text-indent:-99999px;overflow:hidden;z-index:10;-webkit-transition:all .4s ease;-moz-transition:all .4s ease;transition:all .4s ease;}
.prodImageSlider .slick-prev {right:55px}
.prodImageSlider .slick-next {right:20px}
.prodImageSlider:hover .slick-prev {right:55px}
.prodImageSlider:hover .slick-next {right:20px}
.prodImageSlider .slick-arrow:before {position:absolute;width:100%;display:block;margin:auto;color:#333;text-indent:0;text-align:center;font-size: 25px;}
.prodImageSlider .slick-prev:before {width: 20px;height: 20px;position: absolute;left:10px;color: transparent;z-index: 1;content:"";border-top: 2px solid #000;border-left: 2px solid #000;transform: rotate(
  -45deg);}
.prodImageSlider .slick-next:before {width:20px;height:20px;position: absolute;right:10px;color: transparent;z-index: 1;content:"";border-top: 2px solid #000;border-left: 2px solid #000;transform: rotate(130deg);}

.prodImageSlider .slick-dots {width:100%;text-align:center;margin:0;padding:0;position:absolute;bottom:0px}
.prodImageSlider .slick-dots li {width:7px;height:7px;list-style:none;margin:0 5px;display:inline-block;}
.prodImageSlider .slick-dots li button {width:7px;height:7px;border:0;display:block;padding:0;border-radius:50%;text-indent:-9999px;overflow:hidden;background:#bbb}
.prodImageSlider .slick-dots li.slick-active button {background:#666}

.video {position:relative}
.video:after {content:'\25b8';width:30px;height:30px;line-height:28px;background:#d53232;display:block;text-align:center;border-radius:50%;position:absolute;top:0;left:0;bottom:0;right:0;margin:auto;color:#fff;font-size:24px}

.prodThumbSlider .video:after {width:50px;height:50px;line-height:48px;font-size:30px; background: #f00;}

.prodThumbSlider .slick-arrow {width: 30px; height: 30px; left: 50%; margin-left: -15px; position: absolute;color: transparent;z-index: 1;background: none;}
.prodThumbSlider .slick-arrow.slick-prev { bottom:-60px; }
.prodThumbSlider .slick-arrow.slick-prev:before{width: 20px;height: 20px;position: absolute;color: transparent;z-index: 1;content:"";border-top: 1px solid #B1B1B1;border-left: 1px solid #B1B1B1;transform: rotate(
45deg);}
.prodThumbSlider .slick-arrow.slick-next {bottom: -100px;  }
.prodThumbSlider .slick-arrow.slick-next:before{width:20px;height:20px;position: absolute;top: 0;color: transparent;z-index: 1;content:"";border-top: 1px solid #B1B1B1;border-left: 1px solid #B1B1B1;transform: rotate(220deg);}
.prodThumbSlider .slick-arrow.slick-next:hover:before, .prodThumbSlider .slick-arrow.slick-prev:hover:before{border-top: 1px solid #000; border-left: 1px solid #000;}


@media (max-width:991.98px) {
.prodThumbSlider {display:none !important; }
.prodImageSlider {width:100%;}	
}

@media (max-width:767.98px) {
.prodSliderContainer{ height:auto;}
.prodImageSlider {background:#f6f6f6}
.prodImageSlider img {width:100%;margin:auto}
.productBubble{z-index: -1;}
.specWrap{overflow: hidden;}
}

.categoryBox{background: #1e1e1e;height:auto; display: block; position: relative; border:1px solid #5a4735; margin:10px; padding: 10px;overflow:hidden;transition:all .3s ease-in;}
.categoryBox:hover{box-shadow:0 0  15px #5a4735;}
.categoryBox img{width: 100%; transition:all .3s ease-in}
.categoryBox:hover img{width:105%}
.categoryBox .catName{height:60px; border-top: 1px solid #5a4735; text-align: center; padding-top: 10px; font-weight: 600; text-transform: capitalize; position: static; bottom: 10px; left: 10px; right: 10px;}
.categoryPic{min-height:270px; max-height:300px; overflow:hidden;}
.downloadBrochure{position: fixed; z-index: 9; background: #fbdeba; color: #000; top: 50%; right: -75px; padding: 5px 10px;font-weight: 500; transform: rotate(-90deg); transition: all .3s ease-in;}
.downloadBrochure:hover{background: #000; color: #fff; border-radius: 5px 5px 0 0; transition: all .3s ease-in;}



@media (min-width:1400px) {
.categoryPic{min-height:330px; max-height:380px;}
    }

@media (max-width:767.98px) {
.viwcpf_filter-wrap-items{display:none;}
    }

