/* EVENTS */
select {
    width: 200px;
    padding: 8px 16px;
    font-size:15px !important;
}
select option{
    /*background-color: #f7dab7;
    color: #fff;*/
    margin-bottom:5px;
    font-size:14px; 
}
.event-card{
    box-shadow: 3px 3px 8px #00000029;
}
.img-wrapper{
    height: 205px;
}
.logo{
    margin-bottom: 1rem;
    width: 130px;
}
.venue{
    font-weight: 400 !important;
    font-size: 20px;
}
.address{
    color: #707070;
    font-weight: 400;
    font-size: 12px;
    padding: 5px 5px 15px;
}
.border-right{
    border-right: 2px solid #f7dab7;
}
.event-date{
    color: #f7dab7;
    padding: 10px;
}
.event-venue{
    font-size: 16px;
    padding: 15px;
}
/* GALLERY */
.nav-tabs {
    border-bottom: none;
}
.nav-link {
    font-weight: 500;
    color: #00000055;
    padding: 8px;
    margin-right: 25px;
    margin-left: 20px;
}
.nav-tabs .nav-link:hover,
.nav-tabs .nav-link:focus,
.nav-tabs .nav-link.active{
    color: #000;
    font-weight: 500;
    border-color: white;
    border-bottom: 2px solid #f7dab7;
}
.nav-item{
    position: relative;
}
.nav-item::after{
    content: "";
    position: absolute;
    top: 8px;
    bottom: 8px;
    width: 2px;
    right: 0;
    background-color: #00000060;
}
.nav-item:last-child::after{
    width: 0;
}
.card-gallery{
    transition: 0.3s ease-in-out;
}
.card-gallery:hover {
    transform: translateY(-15px);
}
.ContDropsTop{
    bottom: 95% !important;
    z-index: -1 !important;
}


 
@media (max-width: 992px){
    .ContDropsTop{
        display: none !important;
    }
}

#f7dab7